.container-place-order{
  background-color: white;
  padding: 1em;
}

.position-div{
  width: 1.2em;
  height: 1.2em;
  border: 3px solid;
  border-radius: 7px;
}

.div-purple{
border-color: purple;
}

.div-yellow{
border-color: #fcbf59;
}

.payment-image{
width: 2em;
height: 1em;
margin-right: 0.5em;
}

.type-vehicle-image{
height: 2.4em;
margin: 20%;
margin-bottom: -20%;
width: 65%;
}
.box {
  margin: 0 auto!important;
}
    
.icon{
height: 1em;
width: 1em;
margin-right: 10px;
float:left;
}
.wishes{
float: right;
}


.place-button {
width: 99%;
--border-radius: 10px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
margin-top:10px;
font-size: 12px;
--ion-color-contrast: white !important;
}

.image-categies{
width: 100%;
}

.description-text{
text-align: center;
margin-block-start: 0px;
}

.wish-margin{
margin:10px
}

.black-text{
  color: black;
}
