.container img {
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2px;
}
.left{
    float: left;
    margin:0px
}
.right{
    margin: 0px;
    float: right;
}
.rating{
    margin-top: -2px;
    margin-left: 5px;
    color:orange
}
.rplate{
    padding: 1px;
}
.rplate-left{
    border-radius: 5px 0 0 5px ;
    border: 1px solid gray;
    border-right: 0px;
}
.rplate-right{
    border-radius: 0 5px 5px 0 ;
    border: 1px solid gray;
}
.shadow {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
   }
